/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
/*body {
    padding-top: 20px;
    padding-bottom: 20px;
}*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}





@font-face {
    font-family: 'MTCORSVA';
    src: font-url('MTCORSVA.eot');
    src: local('MTCORSVA'), font-url('MTCORSVA.ttf') format('truetype');
}


html,body{
  //height:100%;
  background: #333;
}


body{
    background: image-url('/images/background.jpg', false, true) no-repeat center center fixed;
    background-image: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
}


.landingPage{
  padding:5em 0;
  border-bottom:15px solid #f06;
  text-align:center;


}


.carta{
  //height: 150%;
  //background: image-url('/images/backgroundCarta.jpg', false, true) repeat center center fixed;
  //background-image:fixed;
  background:#ccc;
  //background: #303440;
  //box-shadow: 0px 0px 0 15px white;
  border-top:15px solid white;


  color:#111;
  padding:5em 0;
}

.carta h1{

  text-align:center;
  font-family:"MTCORSVA", Monotype Corsiva, serif;
  color:#ff0066;
  text-shadow:2px 2px 0px white;
  font-size:70px;
  padding:0;

}

.tituloCarta{
  margin-top: 50px;
}
.elementoCarta{
margin-top:50px;

}


  
.pizza{
  margin-bottom: 2em;
}
.pizza h2{
  //float: center;
  //text-transform:uppercase;
  font-size: 90px;
  //font-family: 'IM Fell English SC', serif;
  color:#f06;
  color:#111;
  color:white;
  padding: 0;
  margin:0;
  padding-top: .5em;
  transition: all .5s ease;
}

.pizza h2:hover{
  letter-spacing: -5px;
  color:#f06;
}
.pizza h3{
  //padding:0;
  //margin:0;
  //line-height:0px;
}
.pizza .text-right{
  border-right: 1px solid #111;
}
h3.ingredientes{
  //margin-top:100px;
  margin-bottom: 20px;
}
.pizza ul{
  font-size:1.1em;
}
/*
#tipo1{
font-family:'Sonsie One', sans-serif;
}

#tipo2{
font-family: 'Voltaire', sans-serif;
}

#tipo3{
  font-family: 'Vidaloka';
}

#tipo4{
  font-family: 'IM Fell English SC', serif;
}
#tipo5{
  font-family: 'Maiden Orange';
}
#tipo6{
  font-family: 'Kaushan Script';
}
*/
.descripcion{
  font-size:15px;
}










.cover{
  position:fixed;
  top:0;
  z-index:-9;
  width:100%;
  height:100%;
  background:#ff0066;
  /*background:rgba(255, 0, 102, 0.1);*/
  background:rgba(0, 0, 0, .6);
  transition:all .5s ease;
}

.cover.pink{
  background:rgba(255, 0, 102, 0.0);    
}
body:hover .cover.pink{
  /*background:rgba(255, 0, 102, 0.1);  */
}
/*
body:hover h1{
  color:white;
  text-shadow:none;
}*/

h1{
  text-align:center;
  font-family:"MTCORSVA", Monotype Corsiva, serif;
  color:white;
  color:#ff0066;
  text-shadow:2px 2px 0px white;/*,
    0 5px 100px white;*/
  font-size:18em;
  /*letter-spacing:-8px;*/
  padding:0;
  margin:0;
  padding-top:100px;
  padding-bottom:50px;
 // margin-top:.4em;  //Causa de la raya gris arriba
  /*animation:fade 2s ease alternate infinite;*/
}

.landingPage h2{
  text-align:center;
  font-size:6em;
  color:white;
  /*text-shadow:0 5px 50px white;*/
  padding:0;
  letter-spacing:-.02em;
  margin:0;
  padding:0;
}

h2 span, i{
  color:#ff0066;
  text-shadow:2px 2px 0px white;
}
h2 span{
  font-family:"MTCORSVA", Monotype Corsiva, serif;
  font-size:1.8em;
  position:relative;
  top:33px;
}

h2 i{
  
  font-size:.8em;
}


/*@keyframes fade{
  to{
    color:#f17;
  }
}*/
/*.fa-heart-o{
  animation:beat 1.2s ease infinite alternate;
}

@keyframes beat{
  from{
    transform:scale(.9);
  }

  to{
    transform:scale(1.1);
  }
}*/

.landingPage h3{
  color:white;
    font-family: 'MTCORSVA', Monotype Corsiva, serif;
  font-size:5em;
  
  background:rgba(0,0,0,.5);
}

.landingPage h3 span{
  font-family:sans-serif;
  font-size:.5em;
}

a.phone, a.phone:hover{
    color:white;
    text-decoration: none;
}